body {
  padding: 20px;
}

img {
  padding: 5px;
}

.paytone {
  font-family: 'Paytone One', sans-serif;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  align-content:space-between;
}

.space {
  margin: 30px;
}

.resize {
  width:240px; /* you can use % */
  height: auto;
}