<h1 class="text-center paytone">Top 10 Players Rank by a Nerd-stor</h1>

<div class="card text-center">
  <div class="card-header flex">
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/teams">Teams</a>
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="/players/QB">QB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players/RB">RB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players/WR">WR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players/TE">TE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players/K">K</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players/DEF">DEF</a>
      </li>
    </ul>
  </div>
</div>

<%= erb :'_top_ten_players', layout: false %>

