<div class="container-fluid">
  <!-- <div class="row"> -->
    <h1 class="text-center paytone">Nestor's Top 10 Fantasy Footbal Stats</h1>
  <!-- </div> -->
  <br>
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-3">Players</h1>
        <p class="lead">This is a simple stat page that displays the NFL football stats for each player based a Nerd-stor rank. The lower the number the higher the rank. This is more like a standard deviation of their overall points. The nerd-stor rank is heavly anaylezed week in and out but a group of self proclaimed football nerds that monitor stats 24/7.</p>
        <hr class="my-4">
        <p>Click below to start view stats.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/players" role="button">View Players</a>
        </p>
      </div>
    </div>
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-3">Teams</h1>
        <p class="lead">This page displays all NFL football teams and connets you with the top 10 players for each team based on their Nerd-stor.</p>
        <hr class="my-4">
        <p class="">Click below to start view teams.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/teams" role="button">View Teams</a>
        </p>
      </div>
    </div>
  </div>
</div>